.dflex{
  display:flex;
  display: -webkit-flex;
  justify-content: space-around;
  width:100%;
  padding: 0 10px;
  margin-bottom: 10px;
  >div{
    width: 100px;
    height: 100px;
    background-color:red;
    padding: 3px;
    position: relative;
  }
  >.active{
    background-color:green;
  }
}
